$height: 100%;
$display: flex;
$position: center;
$color: rgb(23, 34, 128);
$direction: column;
$width: 100%;

body, html {
  height: $height;
  margin: 0px;
}

.root {
  height: $height;
  background-image: url('cyan-background.jpg');
  background-repeat: no-repeat;
  background-position: $position;
  background-size: cover;
  display: $display;
  flex-direction: $direction;
  align-items: $position;
}

.header {
  height: 30%;
  display: $display;
  flex-direction: $direction;
  justify-content: $position;
  align-items: $position;
}

h1, h2 {
  text-align: $position;
  color: $color;
}

.form-container {
  height: 70%;
  width: 40%;
  min-width: 400px;
  display: $display;
  flex-direction: $direction;
  justify-content: flex-start;
  padding-top: 5%;
  align-items: $position;
  margin-bottom: 10%;
}

div p {
  font-style: italic;
  text-align: $position;
  color: $color;
}

.form {
  height: $height;
  width: $width;
  display: $display;
  flex-direction: $direction;
  justify-content: space-around;
  align-items: $position;
}

.name-container {
  width: $width;
  display: $display;
  justify-content: space-between;
}

.name-container div {
  width: 45%;
} 

.name {
  width: $width;
}

label {
  color: $color;
}

input {
  height: 2em;
  border-color: rgba(70, 82, 194, 0.8);
  border-radius: 5px;
  transition: background-color 0.5s;
}

input:focus {
  background-color: rgb(235, 235, 235);
}

.input-container {
  display: $display;
  flex-direction: $direction;
  justify-content: flex-start;
  width: $width;
} 

.form-button {
  width: 100px;
  height: 40px;
  background-color: $color;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.form-button:hover {
  opacity: 0.7;
}

@media(max-width: 400px) {
  .form-container {
    min-width: 300px;
  }
}